[submodule "Range-V3-VS2015"]
	path = Range-V3-VS2015
	url = https://github.com/Microsoft/Range-V3-VS2015.git
[submodule "benchmark"]
	path = benchmark
	url = https://github.com/google/benchmark.git
[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest.git
[submodule "range-v3"]
	path = range-v3
	url = https://github.com/ericniebler/range-v3.git
[submodule "cppcoro"]
	path = cppcoro
	url = https://github.com/lewissbaker/cppcoro.git
